<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="positioning" providerName="System.Data.SqlClient"
           connectionString="Integrated Security=;Persist Security Info=False;User ID=sa;Password=eventSt0r3;Initial Catalog=JO_small150;Data Source=alladin\SQL2008;" />
  </connectionStrings>

  <appSettings>
    <add key="jo-conn-string-name" value="positioning"/>
    <add key="es-ip" value="127.0.0.1"/>
  </appSettings>
  
</configuration>


